@import './buttons.css';
body {
    background-color: #43DDE6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.wraper{
    max-inline-size: 900px;
    margin: auto;
}

.player video {
    inline-size: 100%;
    aspect-ratio: 16/9;
    vertical-align: middle;
    object-fit: cover;
}

.player{
    position: relative;
}

.player-title{
    color: white;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 20px;
}

.player-buttons{
    position: absolute;
    inset:0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.player-progreso{
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    display:flex;
    padding: 10px;
}

.player-progreso input{
    flex: 1;
}

.player-overlay{
    position: absolute;
    inset:0;
    opacity: 0;
    transition: .3s opacity;
}

.player:hover .player-overlay{
    opacity: 1;
}